# eclipse specific git ignore
PiSeas-Network/*.pydevproject
PiSeas-Network/.project
PiSeas-Network/.metadata
PiSeas-Network/bin/**
PiSeas-Network/tmp/**
PiSeas-Network/tmp/**/*
PiSeas-Network/*.tmp
PiSeas-Network/*.bak
PiSeas-Network/*.swp
PiSeas-Network/*~.nib
PiSeas-Network/local.properties
PiSeas-Network/.classpath
PiSeas-Network/.settings/
PiSeas-Network/.loadpath

# External tool builders
PiSeas-Network/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
PiSeas-Network/*.launch
